In [2]:
import pandas as pd
import numpy as np 
from console.rich
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

#READİNG FİLES WİTH PANDAS

In [5]:
df = pd.read_csv("/content/gdrive/MyDrive/Colab Notebooks/DATA/kc_house_data.csv")
print(df)

               id        date     price  ...     long  sqft_living15  sqft_lot15
0      7129300520  10/13/2014  221900.0  ... -122.257           1340        5650
1      6414100192   12/9/2014  538000.0  ... -122.319           1690        7639
2      5631500400   2/25/2015  180000.0  ... -122.233           2720        8062
3      2487200875   12/9/2014  604000.0  ... -122.393           1360        5000
4      1954400510   2/18/2015  510000.0  ... -122.045           1800        7503
...           ...         ...       ...  ...      ...            ...         ...
21592   263000018   5/21/2014  360000.0  ... -122.346           1530        1509
21593  6600060120   2/23/2015  400000.0  ... -122.362           1830        7200
21594  1523300141   6/23/2014  402101.0  ... -122.299           1020        2007
21595   291310100   1/16/2015  400000.0  ... -122.069           1410        1287
21596  1523300157  10/15/2014  325000.0  ... -122.299           1020        1357

[21597 rows x 21 columns]

In [6]:
data = pd.read_excel("/content/gdrive/MyDrive/Colab Notebooks/DATA/sample_work.xlsx")
print(data)

    Unnamed: 0  Unnamed: 1                                         Unnamed: 2
0          NaN         NaN                                                NaN
1          NaN         NaN                                                NaN
2          NaN         NaN                                                NaN
3          NaN         NaN                                    Downloaded From
4          NaN         NaN                              Sample Data for Excel
5          NaN         NaN                                                NaN
6          NaN         NaN                                  Related tutorials
7          NaN         NaN                                 Named Excel Tables
8          NaN         NaN                                    Data Entry Tips
9          NaN         NaN                            More Excel Sample Files
10         NaN         NaN                                                NaN
11         NaN         NaN                                              Notes
12         NaN         NaN      Fake work order data to use for Excel testing
13         NaN         NaN                                                NaN
14         NaN         NaN  Get weekly Excel tips, tutorials, videos, and ...
15         NaN         NaN                       Contextures Excel Newsletter

# SELECT COLUMNS OR ROWS WİTH PANDAS

In [7]:
#select column
print(df["price"])

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21592    360000.0
21593    400000.0
21594    402101.0
21595    400000.0
21596    325000.0
Name: price, Length: 21597, dtype: float64

In [8]:
#select column with the "loc" method
# loc Method = df.loc[rows,"columns"]
result = df.loc[0,"price"]
print(result)

221900.0

In [9]:
# Just select the rows => df.loc["rows"]
result=df.loc[0]
print(result)

id               7129300520
date             10/13/2014
price                221900
bedrooms                  3
bathrooms                 1
sqft_living            1180
sqft_lot               5650
floors                    1
waterfront                0
view                      0
condition                 3
grade                     7
sqft_above             1180
sqft_basement             0
yr_built               1955
yr_renovated              0
zipcode               98178
lat                 47.5112
long               -122.257
sqft_living15          1340
sqft_lot15             5650
Name: 0, dtype: object

In [10]:
# Just select the columns => df.loc[:,["column1","column2".....]] or df.loc[:,"column1"]
result = df.loc[:,"price"]
print(result)

0        221900.0
1        538000.0
2        180000.0
3        604000.0
4        510000.0
           ...
21592    360000.0
21593    400000.0
21594    402101.0
21595    400000.0
21596    325000.0
Name: price, Length: 21597, dtype: float64

In [11]:
# we can make the normal slicing processes
result = df.loc[:100,["price"]]
print(result)

        price
0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
..        ...
96   247500.0
97   199000.0
98   314000.0
99   437500.0
100  850830.0

[101 rows x 1 columns]

In [12]:
# returns the rows from "0" to "10" and the columns from begining to "price"
result = df.loc[:10,:"price"]
print(result)

            id        date      price
0   7129300520  10/13/2014   221900.0
1   6414100192   12/9/2014   538000.0
2   5631500400   2/25/2015   180000.0
3   2487200875   12/9/2014   604000.0
4   1954400510   2/18/2015   510000.0
5   7237550310   5/12/2014  1230000.0
6   1321400060   6/27/2014   257500.0
7   2008000270   1/15/2015   291850.0
8   2414600126   4/15/2015   229500.0
9   3793500160   3/12/2015   323000.0
10  1736800520    4/3/2015   662500.0

In [ ]:
# you can be returned whatever you want value 
result=df.loc[0,["price"]] # it involves the last value 
print(result)

price    221900
Name: 0, dtype: object

In [ ]:
# use to the index numbers with "iloc" method
result = df.iloc[:10,:5] # it doesn't involve the last value
print(result)

           id        date      price  bedrooms  bathrooms
0  7129300520  10/13/2014   221900.0         3       1.00
1  6414100192   12/9/2014   538000.0         3       2.25
2  5631500400   2/25/2015   180000.0         2       1.00
3  2487200875   12/9/2014   604000.0         4       3.00
4  1954400510   2/18/2015   510000.0         3       2.00
5  7237550310   5/12/2014  1230000.0         4       4.50
6  1321400060   6/27/2014   257500.0         3       2.25
7  2008000270   1/15/2015   291850.0         3       1.50
8  2414600126   4/15/2015   229500.0         3       1.00
9  3793500160   3/12/2015   323000.0         3       2.50

**-> head() and tail() methods**
- our data can be so heavy or big, therefore to take all data always cannot be true. 

- in this situation, we must have the slicing, selecting process, we can use those methods in pandas dataframes

In [53]:
data = df.loc[:10,:"bathrooms"]
data["kitchen"]=pd.Series(np.random.randint(10,30,11),index=[i for i in range(11)])
data["locate"] =pd.Series([i for i in np.random.randint(1,100,11)],dtype=float)
print(data)

            id        date      price  bedrooms  bathrooms  kitchen  locate
0   7129300520  10/13/2014   221900.0         3       1.00       10    73.0
1   6414100192   12/9/2014   538000.0         3       2.25       25    56.0
2   5631500400   2/25/2015   180000.0         2       1.00       17    37.0
3   2487200875   12/9/2014   604000.0         4       3.00       28     8.0
4   1954400510   2/18/2015   510000.0         3       2.00       14    93.0
5   7237550310   5/12/2014  1230000.0         4       4.50       16    33.0
6   1321400060   6/27/2014   257500.0         3       2.25       12    99.0
7   2008000270   1/15/2015   291850.0         3       1.50       13    27.0
8   2414600126   4/15/2015   229500.0         3       1.00       26    71.0
9   3793500160   3/12/2015   323000.0         3       2.50       12    86.0
10  1736800520    4/3/2015   662500.0         3       2.50       25    76.0

In [54]:
print(data.columns) # we can return the columns name into a list

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'kitchen', 'locate'], dtype='object')

In [55]:
result=data.head() # we can reach first 5 datas by using the head() method
print(result)

           id        date     price  bedrooms  bathrooms  kitchen  locate
0  7129300520  10/13/2014  221900.0         3       1.00       10    73.0
1  6414100192   12/9/2014  538000.0         3       2.25       25    56.0
2  5631500400   2/25/2015  180000.0         2       1.00       17    37.0
3  2487200875   12/9/2014  604000.0         4       3.00       28     8.0
4  1954400510   2/18/2015  510000.0         3       2.00       14    93.0

In [56]:
# head() method can take a optional value. When it is used alone, it returns first 5 value but you can specify you want to how many datas.
result=data.head(7)
print(result)

           id        date      price  bedrooms  bathrooms  kitchen  locate
0  7129300520  10/13/2014   221900.0         3       1.00       10    73.0
1  6414100192   12/9/2014   538000.0         3       2.25       25    56.0
2  5631500400   2/25/2015   180000.0         2       1.00       17    37.0
3  2487200875   12/9/2014   604000.0         4       3.00       28     8.0
4  1954400510   2/18/2015   510000.0         3       2.00       14    93.0
5  7237550310   5/12/2014  1230000.0         4       4.50       16    33.0
6  1321400060   6/27/2014   257500.0         3       2.25       12    99.0

**-> tail() method**
- it is the same with head() method but it starts to take last 5 methods

In [58]:
result=data.tail()
print(result)

            id       date     price  bedrooms  bathrooms  kitchen  locate
6   1321400060  6/27/2014  257500.0         3       2.25       12    99.0
7   2008000270  1/15/2015  291850.0         3       1.50       13    27.0
8   2414600126  4/15/2015  229500.0         3       1.00       26    71.0
9   3793500160  3/12/2015  323000.0         3       2.50       12    86.0
10  1736800520   4/3/2015  662500.0         3       2.50       25    76.0

In [60]:
result=data.tail(10)
print(result)

            id       date      price  bedrooms  bathrooms  kitchen  locate
1   6414100192  12/9/2014   538000.0         3       2.25       25    56.0
2   5631500400  2/25/2015   180000.0         2       1.00       17    37.0
3   2487200875  12/9/2014   604000.0         4       3.00       28     8.0
4   1954400510  2/18/2015   510000.0         3       2.00       14    93.0
5   7237550310  5/12/2014  1230000.0         4       4.50       16    33.0
6   1321400060  6/27/2014   257500.0         3       2.25       12    99.0
7   2008000270  1/15/2015   291850.0         3       1.50       13    27.0
8   2414600126  4/15/2015   229500.0         3       1.00       26    71.0
9   3793500160  3/12/2015   323000.0         3       2.50       12    86.0
10  1736800520   4/3/2015   662500.0         3       2.50       25    76.0

#ADDİNG NEW ROWS OR COLUMNS

In [14]:
#Adding the new column
data = df.loc[:10,:"bathrooms"]
data["kitchen"]=pd.Series(np.random.randint(10,30,11),index=[i for i in range(11)])
print(data)

            id        date      price  bedrooms  bathrooms  kitchen
0   7129300520  10/13/2014   221900.0         3       1.00       28
1   6414100192   12/9/2014   538000.0         3       2.25       11
2   5631500400   2/25/2015   180000.0         2       1.00       22
3   2487200875   12/9/2014   604000.0         4       3.00       24
4   1954400510   2/18/2015   510000.0         3       2.00       21
5   7237550310   5/12/2014  1230000.0         4       4.50       26
6   1321400060   6/27/2014   257500.0         3       2.25       20
7   2008000270   1/15/2015   291850.0         3       1.50       18
8   2414600126   4/15/2015   229500.0         3       1.00       18
9   3793500160   3/12/2015   323000.0         3       2.50       18
10  1736800520    4/3/2015   662500.0         3       2.50       23

In [48]:
# you can add the new column as addition of any 2 or 3.. columns
data["locate"] =pd.Series([i for i in np.random.randint(1,100,11)],dtype=float)
print(data)

            id        date      price  ...  kitchen       ANY  locate
0   7129300520  10/13/2014   221900.0  ...       28  1.250874    70.0
1   6414100192   12/9/2014   538000.0  ...       11  0.330157    47.0
2   5631500400   2/25/2015   180000.0  ...       22  0.939227    37.0
3   2487200875   12/9/2014   604000.0  ...       24 -1.419922    30.0
4   1954400510   2/18/2015   510000.0  ...       21  0.330978    52.0
5   7237550310   5/12/2014  1230000.0  ...       26 -0.702912    85.0
6   1321400060   6/27/2014   257500.0  ...       20  0.843859    39.0
7   2008000270   1/15/2015   291850.0  ...       18  0.328276    38.0
8   2414600126   4/15/2015   229500.0  ...       18  0.008622    96.0
9   3793500160   3/12/2015   323000.0  ...       18 -1.457602    24.0
10  1736800520    4/3/2015   662500.0  ...       23 -0.129691    18.0

[11 rows x 8 columns]

In [26]:
kitchen=data.loc[:,:"bedrooms"]
print(kitchen)

            id        date      price  bedrooms
0   7129300520  10/13/2014   221900.0         3
1   6414100192   12/9/2014   538000.0         3
2   5631500400   2/25/2015   180000.0         2
3   2487200875   12/9/2014   604000.0         4
4   1954400510   2/18/2015   510000.0         3
5   7237550310   5/12/2014  1230000.0         4
6   1321400060   6/27/2014   257500.0         3
7   2008000270   1/15/2015   291850.0         3
8   2414600126   4/15/2015   229500.0         3
9   3793500160   3/12/2015   323000.0         3
10  1736800520    4/3/2015   662500.0         3

In [24]:
row_1=data.loc[0,:]["id"]
print(row_1)

7129300520

In [49]:
data['ANY']=[i for i in np.random.randn(11)]
print(data)

            id        date      price  ...  kitchen       ANY  locate
0   7129300520  10/13/2014   221900.0  ...       28  0.016463    70.0
1   6414100192   12/9/2014   538000.0  ...       11  1.121074    47.0
2   5631500400   2/25/2015   180000.0  ...       22  1.289260    37.0
3   2487200875   12/9/2014   604000.0  ...       24 -0.073967    30.0
4   1954400510   2/18/2015   510000.0  ...       21  0.317848    52.0
5   7237550310   5/12/2014  1230000.0  ...       26 -1.033779    85.0
6   1321400060   6/27/2014   257500.0  ...       20  1.643778    39.0
7   2008000270   1/15/2015   291850.0  ...       18  1.433894    38.0
8   2414600126   4/15/2015   229500.0  ...       18  1.103467    96.0
9   3793500160   3/12/2015   323000.0  ...       18 -0.559978    24.0
10  1736800520    4/3/2015   662500.0  ...       23  0.374124    18.0

[11 rows x 8 columns]

#DELETİON PROCESS
-**drop() method** is used to delete any column or row

***Usage:***
- drop(data,axis=(int),inplace=True/False)
- if the inplace value is True, it affects to real data
- but if it is the False, it isn't affect to real data

In [46]:
print(f"Data:\n{data}")

Data:
            id        date      price  bedrooms  bathrooms  kitchen
0   7129300520  10/13/2014   221900.0         3       1.00       28
1   6414100192   12/9/2014   538000.0         3       2.25       11
2   5631500400   2/25/2015   180000.0         2       1.00       22
3   2487200875   12/9/2014   604000.0         4       3.00       24
4   1954400510   2/18/2015   510000.0         3       2.00       21
5   7237550310   5/12/2014  1230000.0         4       4.50       26
6   1321400060   6/27/2014   257500.0         3       2.25       20
7   2008000270   1/15/2015   291850.0         3       1.50       18
8   2414600126   4/15/2015   229500.0         3       1.00       18
9   3793500160   3/12/2015   323000.0         3       2.50       18
10  1736800520    4/3/2015   662500.0         3       2.50       23

In [50]:
result=data.drop('ANY',axis=1,inplace=False)
print(result)
print(data)

            id        date      price  bedrooms  bathrooms  kitchen  locate
0   7129300520  10/13/2014   221900.0         3       1.00       28    70.0
1   6414100192   12/9/2014   538000.0         3       2.25       11    47.0
2   5631500400   2/25/2015   180000.0         2       1.00       22    37.0
3   2487200875   12/9/2014   604000.0         4       3.00       24    30.0
4   1954400510   2/18/2015   510000.0         3       2.00       21    52.0
5   7237550310   5/12/2014  1230000.0         4       4.50       26    85.0
6   1321400060   6/27/2014   257500.0         3       2.25       20    39.0
7   2008000270   1/15/2015   291850.0         3       1.50       18    38.0
8   2414600126   4/15/2015   229500.0         3       1.00       18    96.0
9   3793500160   3/12/2015   323000.0         3       2.50       18    24.0
10  1736800520    4/3/2015   662500.0         3       2.50       23    18.0
            id        date      price  ...  kitchen       ANY  locate
0   7129300520  10/13/2014   221900.0  ...       28  0.016463    70.0
1   6414100192   12/9/2014   538000.0  ...       11  1.121074    47.0
2   5631500400   2/25/2015   180000.0  ...       22  1.289260    37.0
3   2487200875   12/9/2014   604000.0  ...       24 -0.073967    30.0
4   1954400510   2/18/2015   510000.0  ...       21  0.317848    52.0
5   7237550310   5/12/2014  1230000.0  ...       26 -1.033779    85.0
6   1321400060   6/27/2014   257500.0  ...       20  1.643778    39.0
7   2008000270   1/15/2015   291850.0  ...       18  1.433894    38.0
8   2414600126   4/15/2015   229500.0  ...       18  1.103467    96.0
9   3793500160   3/12/2015   323000.0  ...       18 -0.559978    24.0
10  1736800520    4/3/2015   662500.0  ...       23  0.374124    18.0

[11 rows x 8 columns]

In [51]:
data.drop('ANY',axis=1,inplace=True)
print(data)

            id        date      price  bedrooms  bathrooms  kitchen  locate
0   7129300520  10/13/2014   221900.0         3       1.00       28    70.0
1   6414100192   12/9/2014   538000.0         3       2.25       11    47.0
2   5631500400   2/25/2015   180000.0         2       1.00       22    37.0
3   2487200875   12/9/2014   604000.0         4       3.00       24    30.0
4   1954400510   2/18/2015   510000.0         3       2.00       21    52.0
5   7237550310   5/12/2014  1230000.0         4       4.50       26    85.0
6   1321400060   6/27/2014   257500.0         3       2.25       20    39.0
7   2008000270   1/15/2015   291850.0         3       1.50       18    38.0
8   2414600126   4/15/2015   229500.0         3       1.00       18    96.0
9   3793500160   3/12/2015   323000.0         3       2.50       18    24.0
10  1736800520    4/3/2015   662500.0         3       2.50       23    18.0